body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
textarea {
    width: 700px;
    height: 100px;
    background-color: antiquewhite;
}
button {
    margin-top: 10px;
    margin-right: 5px;
    padding: 5px 10px;
    background-color: rgb(192, 121, 16);
}
#timestamp {
    margin-top: 10px;
    color: gray;
    font-size: 0.9em;
}
